title: [[ site_title ]]
description: [[ site_description ]]
markdown: kramdown
permalink: pretty
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
